body{
	background: #fff;
}


h1{
	font-family: sans-serif;
	font-size:2em;
	font-weight: bold;
	margin: .25em 0 1.5em;
	color:#333;
}

p{
	font-family: sans-serif;
	font-size:1em;	
	line-height: 1.5em;
	margin-bottom: 2.5em;
}

a{
    color: #000;
	text-decoration: none;
	transition: color .25s ease-in-out;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
}
	a:hover{
		color:#f39c9c;
	}


section{
	margin:0 auto;
	padding: 3em 1em;
	max-width: 660px;
}

#copyright p{
	font-size: .75em;
	color:#B3B3B3;
	margin: 0;
}

#footer{
	font-size: 12px;
}



/* iPad --------------------- */
 
/* Minimum width of 768 pixels. */

@media screen and (max-width: 768px) {

    section{
    padding-bottom:1em;
    }

}

/* Minimum width of 600 pixels. */

@media screen and (max-width: 600px) {

    h1{
    	margin-bottom: 1em;	
    }
    
    #wrapper{
    	margin:0 auto 1em;
    	padding: 1.5em 2em 2em;
    }
    
    #words{
    	margin-bottom: 0em;
    }
    
    #social{
    	float:left;
    	margin: 1.5em 0 2em;
    }

}
	
	
	

